.subpage h1 {
	font-family: Ostrich Sans;
	font-size: calc(100% + 3vw);
	margin-bottom: 5px;
}

.subpage .topic h2,
.subpage .threads > h2 {
	font-size: calc(100% + 1.5vw);
	text-align: center;
	position: relative;
	/* margin-bottom: 0px; */
}

.subpage > div > h2:before,
.subpage > div > h2:after {
	content: "";
	width: 40%;
	top: 50%;
	position: absolute;
	border: 1px solid rgba(39, 39, 39, 0.836);
}

.subpage > div > h2:before,
.subpage > div > h2:before {
	left: 0;
}

.subpage > div > h2:after,
.subpage > div > h2:after {
	right: 0;
}
