.home {
	text-align: center;
	background-color: #fffdfd;
	padding: 20px 0;
}

.home h1 {
	font-size: 5vw;
	font-family: Ostrich Sans;
	font-weight: 800;
	margin-bottom: 0;
}

.home h1 span {
	font-weight: 600;
	font-size: 8vw;
}

.home p {
	font-size: 2vw;
}
