.subpage h1 {
	font-family: Ostrich Sans;
	font-size: calc(100% + 3vw);
	margin-bottom: 5px;
}

.subpage .topic h2,
.subpage .threads > h2 {
	font-size: calc(100% + 1.5vw);
	text-align: center;
	position: relative;
}

.subpage .topic h2:before,
.subpage .topic h2:after,
.subpage .threads > h2:before,
.subpage .threads > h2:after {
	content: "";
	width: 40%;
	top: 50%;
	position: absolute;
	border: 1px solid rgba(39, 39, 39, 0.836);
}

.subpage .topic h2:before,
.subpage .threads > h2:before {
	left: 0;
}

.subpage .topic h2:after,
.subpage .threads > h2:after {
	right: 0;
}

.subpage .topic .topic-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.subpage .topic .topic-list li {
	background-color: #85cdca;
	width: 250px;
	height: 250px;
	margin: 5px 0;
}
