.topic-list {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	flex-wrap: wrap;
}

.item {
	background-color: #85cdca;
	cursor: pointer;
	margin: 10px;
}

.item > div {
	width: 250px;
	height: 250px;
	padding: 20px 0;
}

.item > div > h2 {
	margin: 0;
}
