.login li {
	padding: 15px 3px;
}

.login li a {
	border: 2px solid #fffded;
	padding: 5px 10px;
	border-radius: 10px;
	font-weight: 600;
}

.login li:first-of-type a {
	background-color: #fffded;
	color: #4f4789;
}

.login li a:hover {
	background-color: #201335;
	color: #fffded;
}
