.nav {
	display: flex;
	padding: 0 50px;
	background-color: #41b3a3;
	color: #fff;
}

.nav > ul {
	height: inherit;
	max-width: 1400px;
	display: flex;
	justify-content: flex-end;
}

.nav > ul > li {
	position: relative;
	height: 100%;
}

.nav > ul > li > a {
	height: 100%;
	font-family: "Ostrich Sans";
	font-weight: 600;
	letter-spacing: 1px;
}

.links {
	flex-grow: 1;
}

.links > li {
	padding: 15px 15px;
}
